__pycache__/alignment.cpython-310.pyc
notebooks/.DS_Store
__pycache__/alignment.cpython-311.pyc
notebooks/.gitattributes
notebooks/reference_images/hindbrain/.DS_Store
notebooks/reference_images/.DS_Store
registration/__pycache__/sitkalignment.cpython-311.pyc
